/* Containers */
body {
  font-family: Georgia, 'Times New Roman', Times, serif; 
}
header, footer {
  color: #DDD4BC;
  background: #627C6D;  /* <----------------- Changed background-color to the shorthand background for my revision to include background */
}
header, footer, main {
  text-align: center;
}
header {
  padding-top: 10px;
  padding-bottom: 40px; 
}
h1 {
  font-size: 48px;
  font-style: oblique;
  margin-bottom: 15px;
}
main {
  color: #8A7E5D;
  background-color: #D4E7DC;
  margin-top: -20px;
  margin-bottom: -18px;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
article {
  align-content: center; 
}
main > article > hr{
  border: 1px dashed #627C6D;
  width: 70%;
  height: 5px;  /* <-----------------  Edit for my revision to include height.  Makes hr look like a rectangle instead of a line.*/
  margin-top: 25px;
  margin-bottom: 25px;
}
img {
  width: 400px;
  align-self: center;
  border:5px solid #627C6D;
}

/* Pseudo-classes Links */  /* <--------- Had to add in pseudo-classes for revision */

a:link {
  color:#8A7E5D;
  text-decoration: none;
}
a:visited {
  color:rgb(116, 116, 116);
  font-weight: bold;
}
a:hover {
  color:#8A7E5D;
  background: rgb(146, 194, 166);
  font-weight: bold;
}
a:active{
  color:#8A7E5D
}

/* Classes */

.button {
  display: inline-block;
  font-size: 15px;
  text-align: center;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #8A7E5D;
  background-color: #D4E7DC;
  border-color: #D4E7DC;
}
.wrapper {
  width: 50%;
  margin: 0 auto;
}
.center {
  text-align: center;
  list-style-position: inside;
  padding: 0;
}